

.board {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    max-width: 500px;
    aspect-ratio: 1 / 1;
}

.cell {
    border: 1px solid black;
    background-color: rgb(120, 188, 210);
    aspect-ratio: 1 / 1;
    display: grid;
    place-content: center;
    color: white;
}


.ship {
    background-color: grey;
}

.shell::after {
    content: '⬤';
}

.shell.hit {
    color: red;
}
